<!doctype html>

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F2PLZ6GCDD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-F2PLZ6GCDD');
    </script>
    <title>About the Factorial calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- QA interview stylesheet -->
    <link href="/static/css/qa_interview_style.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <h1 class="text-center">About the QA interview application</h1>
            <p class="text-justify top-space-40">
                First off, congratulations on looking to hire a QA for your team! A good QA is worth their weight in gold and can have an immediate positive impact. This QA interview exercise pairs perfectly with <a href="https://qxf2.com/a-better-way-to-interview-qa">this advice article</a>. Also, the greatest factorial calculator is brought to you by the <a href="https://qxf2.com/?utm_source=qa-interview-about&utm_medium=click&utm_campaign=From%20QA%20Interview">greatest QA company</a> for startups and early-stage products 😉 - Qxf2. <b>Qxf2 provides software testing services for startups and early-stage products</b>. We'd appreciate it if you spread the word about Qxf2 on social media and technical platforms of your choice.
            </p>
            <p class="text-justify top-space-20">
                Qxf2 has been testing early-stage software since 2013. As you might guess, we have plenty of thoughts and experiences to share. But if this is your first time hiring QA, the process can seem a bit confusing. We've put together some tips to help you out.
            </p>
            <h2 class="top-space-40">1. Before You Hire</h2>
            <p class="text-justify top-space-20">
                Before you bring a QA engineer (especially a junior QA) into your team, we encourage you to check out an article we wrote: <a href="https://qxf2.com/things-to-try-before-hiring-your-first-qa">Things to Try Before Hiring Your First QA</a>. This might give you additional ideas suited to your current context.
            </p>
            <h2 class="top-space-40">2. Explore other alternatives</h2>
            <p class="text-justify top-space-20">
                Qxf2 offers several unique QA services that you might not be aware of. We're listing them here because, despite how well-loved our QA services are, many who could benefit from them rarely know about these options.
            </p>
            <ol type="a">
                <li><a href="https://qxf2.com/essential-service-offering">Qxf2's Essential QA Service</a>: Teams working on early-stage products often need just enough QA to catch issues but don't want the commitment of a full-time QA resource. Qxf2 provides this pocket-friendly QA service for startups needing lightweight testing before releases.</li>
                <li><a href="https://qxf2.com/foundational-service-offering">Qxf2's Foundational QA Service</a>: Set the stage for effective testing at your startup. You'll work directly with a seasoned testing expert for 12-16 weeks — an option worth considering before hiring a junior tester.</li>
                <li>On-Demand Testing Services: Testing at startups sometimes needs to play catch-up. Qxf2 can help jumpstart your <a href="https://qxf2.com/qait">UI automation</a>, <a href="https://qxf2.com/api-tests-autogenerate">API automation</a>, and <a href="https://qxf2.com/aiml-testing-offering">AI/ML model testing efforts</a>.</li>
            </ol>  
            <h2 class="top-space-40">3. After You Hire</h2>   
            <p class="text-justify top-space-20">
                <b>This might be the most important section of this page.</b> Once you hire a QA, make sure they're set up for success. Give them space to explore the product and empower them to speak up. QA engineers are often outnumbered by developers, which makes speaking up harder. If you're a product manager or developer leading them, ensure they have enough time and feel heard. Encourage active collaboration. We've seen many good testers fail to thrive simply because the environment wasn't supportive.
            </p>
            <h2 class="top-space-40">4. Other QA interview tools from Qxf2</h2>   
            <p class="text-justify top-space-20">We have some other tools you can use in your QA interviews.</p>
                <ol class="top-space-20" type="a">
                    <li class="text-justify">We have this <a href="https://qxf2.com/blog/a-qa-interview-exercise-read-code-in-different-languages/">code-reading</a> exercise for candidates that cannot write much code.</li>
                    <li class="text-justify">For testing GUI automation skills, you could use our <a href="http://weathershopper.pythonanywhere.com/">Weather Shopper application</a>. Associated <a href="https://www.reddit.com/r/QualityAssurance/comments/bh7mhr/a_practical_way_to_learn_selenium_and_practice/">write up</a>.</li>
                    <li class="text-justify">We also have a similar app that will let you start conversations around machine learning with candidates. This is still in alpha. So I suggest you setup the <a href="https://github.com/qxf2/practice-testing-ai-ml">app locally</a> rather than use the site I have set up for my colleagues.</li>
                </ol>
            </p>
            <p class="text-justify top-space-20">Hope these help!</p>

        </div>
        <div class="row-fluid">
            <p class="margin-base-vertical text-center wor_copyright"><a href="/">Home</a></p>
            <!--Copyright-->
            <p class="margin-base-vertical text-center wor_copyright">
                &copy; <a href="https://www.qxf2.com/?utm_source=qa-interview&utm_medium=click&utm_campaign=From%20QA%20Interview">Qxf2 Services</a> 2016 -
                <script>document.write(new Date().getFullYear())</script>
            </p>
        </div>
        <!--Copyright-->
    </div>
</body>

</html>